{% load static %}
<!-- election_list.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Election List</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">

</head>
<body>
    <button><a href="{% url 'logout' %}">Logout</a></button><br>
    
    <h2>List of Elections</h2>
        {% if not elections %}
            <p>No elections available for voting at the moment.</p>
        {% endif %}
    <ul>
        {% for election in elections %}
            <li><a href="{% url 'election_detail' election.id %}">{{ election.type }}</a></li><br>
        {% endfor %}
    </ul>
</body>
</html>
